@model FitnessTracker.Models.FitnessUser

@{
    ViewBag.Title = "User Home";
}

@section scripts{
    <script src="~/Content/angular/UserHome/userHomeController.js"></script>
}

<div ng-app="userHomeModule" ng-controller="userHomeController">
    <h1>Fitness Tracker</h1>
    <p class="lead">Welcome to Fitness Tracker, <b>{{model.userFirstName}}</b>! This is your personal homepage!</p>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="btn btn-default navbar-btn" ng-click="changeView('Fitness/CreateRoutine');">
                                    <span>Create a New Routine</span>
                                </div>
                            </div>
                            <div class="row">
                                This is where you can go to create your
                                own fitness plan. Setup a schedule with
                                a workout plan!
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <button class="btn btn-default navbar-btn" ng-click="changeView('Fitness/Index');">
                                    Manage Routines
                                </button>
                            </div>
                            <div class="row">
                                This is where you can go to manage your current Routines.
                                View and Edit your routines!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2 class="blink_text">Here are your routines for today!</h2>
                        <p ng-show="model.todaysRoutines.length == 0"><b>NONE!</b> Must be a rest day.</p>
                        <ul ng-show="model.todaysRoutines.length > 0">
                            <li ng-repeat="routine in model.todaysRoutines"><h4>{{routine.RoutineName}}</h4></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4><b>Nutrition Details for Today:</b></h4>
                            <label ng-show="model.todaysNutrientTotals.length == 0">No nutritional details yet.</label>
                            <table class="table table-bordered table-striped table-condensed" ng-show="model.todaysNutrientTotals.length > 0">
                                <thead>
                                <tr>
                                    <th class="col-md-3">Nutrient</th>
                                    <th class="col-md-3">Total for today</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="nutrient in model.todaysNutrientTotals">
                                    <td class="col-md-3">{{nutrient.Name}}</td>
                                    <td class="col-md-3">{{nutrient.Value}} {{nutrient.Unit}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-default navbar-btn" ng-click="changeView('Nutrition/Index');">
                                Manage Nutrition
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container" ng-show="model.activeRoutines.length > 0">
                        <h3>Active Routines:</h3>
                        <table class="table">
                            <tr>
                                <th>
                                    Routine Name
                                </th>
                                <th>
                                    Routine Goal
                                </th>
                                <th>
                                    Details
                                </th>
                            </tr>
                            <tr ng-repeat="routine in model.activeRoutines">
                                <td>
                                    {{routine.RoutineName}}
                                </td>
                                <td>
                                    {{routine.RoutineGoal}}
                                </td>
                                <td>
                                    <button class="btn btn-default navbar-btn" ng-click="detailsClick(routine.RoutineID);" ng-show="model.selectedRoutineID != routine.RoutineID">
                                        View Details
                                    </button>
                                    <button class="btn btn-default navbar-btn" ng-click="hideDetailsClick();" ng-show="model.selectedRoutineID == routine.RoutineID">
                                        Hide Details
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <table class="table" ng-show="model.exercisesForRoutine.length > 0">
                            <tr>
                                <th>Exercise</th>
                                <th>Description</th>
                                <th>Reps</th>
                                <th>Sets</th>
                                <th>Weight</th>
                            </tr>
                            <tr ng-repeat="exercise in model.exercisesForRoutine">
                                <td>{{exercise.ExerciseName}}</td>
                                <td>{{exercise.Description}}</td>
                                <td>{{exercise.Reps}}</td>
                                <td>{{exercise.Sets}}</td>
                                <td>{{exercise.Weight}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
