@{
    ViewBag.Title = "Nutrition";
}

@section scripts{
    <script src="~/Content/angular/Nutrition/nutritionHomeController.js"></script>
}
<div ng-app="nutritionModule" ng-controller="nutritionHomeController">
    @Html.Partial("_FoodDetailsModal")
    <div class="container">
        <h2>Nutrition Page</h2>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Nutrition Details For Today</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <thead>
                            <tr>
                                <th class="col-md-8">Food</th>
                                <th class="col-md-2">Serving Size</th>
                                <th class="col-md-2">Servings Consumed</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="food in model.todaysFoods">
                                <td class="col-md-8">{{food.Name}}</td>
                                <td class="col-md-2">{{food.ServingAmount}} {{food.ServingLabel}}</td>
                                <td class="col-md-2">{{food.ServingsConsumed}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <h4>Search Foods:</h4>
                </div>
                <div class="col-md-3">
                    <input class="input-sm" type="text"
                           name="Food Search"
                           ng-model="model.searchText" />
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default" ng-click="searchButtonClicked();" ng-disabled="!model.searchText"><span class="glyphicon glyphicon-search"></span>Search</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default btn-warning" ng-click="clearSearchButtonClicked();">
                        <span class="glyphicon glyphicon-minus-sign"></span> Clear Search
                    </button>
                </div>
            </div>
            <div class="row" ng-show="model.searchList.length > 0">
                <!-- Pagination -->
                <div class="col-md-5">                   
                    <div class="pull-left">
                        <span class="recordCountSpan" style="margin-right: 0px;" ng-bind="model.recordStart + 1"></span>
                        <b>-</b>
                        <span class="recordCountSpan" style="margin-left: 0px;" ng-bind="model.recordEnd + 1"></span>
                        of <span class="recordCountSpan" style="margin-right: 10px;" ng-bind="model.searchList.length"></span>
                    </div>
                    <div class="btn-group pull-left" style="margin-bottom: 5px;" ng-show="model.searchList.length > 0">
                        <button class="btn btn-primary" ng-click="onPrevResultsClick()" title="Previous Results" ng-disabled="model.recordStart == 0">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </button>
                        <button class="btn btn-primary" ng-click="onNextResultsClick()" title="Next Results" ng-disabled="model.recordEnd == model.searchList.length - 1">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="model.searchList.length > 0">
                <div class="list-group col-md-8">
                    <button type="button" style="width: 100%;" class="list-group-item"
                            title="Click for Details"
                            ng-repeat="foodItem in model.searchList.slice(model.recordStart, model.recordEnd + 1)"
                            ng-click="foodItemClicked(foodItem);">
                        {{foodItem.Name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
