@{
    ViewBag.Title = "Nutrition";
}

@section scripts{
    <script src="~/Content/angular/Nutrition/nutritionHomeController.js"></script>
}
<div ng-app="nutritionModule" ng-controller="nutritionHomeController">
    @Html.Partial("_FoodDetailsModal")
    <div class="container">
        <h1>Nutrition</h1>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Nutrition Details For Today</h3>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-show="model.todaysFoods.length == 0">
                        <label>No food records for today!</label>
                    </div>
                    <div class="col-md-12" ng-show="model.todaysFoods.length > 0">
                        <h4>Food Details:</h4>
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-6">Food</th>
                                    <th class="col-md-2">Serving Size</th>
                                    <th class="col-md-1">Servings</th>
                                    <th class="col-md-1">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="food in model.todaysFoods">
                                    <td class="col-md-6">{{food.Name}}</td>
                                    <td class="col-md-2">{{food.ServingAmount}} {{food.ServingLabel}}</td>
                                    <td class="col-md-1">
                                        {{food.ServingsConsumed}} <div class="btn-group pull-right" style="margin-right: 15px;">
                                            <button class="btn btn-xs btn-primary form-control; noWrap" ng-disabled="food.ServingsConsumed == 25" 
                                                    ng-click="increaseServingClicked(food);" title="Increase Servings">
                                                <span class="glyphicon glyphicon-arrow-up"></span>
                                            </button>
                                            <button class="btn btn-xs btn-primary form-control; noWrap" ng-disabled="food.ServingsConsumed == .5"
                                                     ng-click="decreaseServingClicked(food);" title="Decrease Servings">
                                                <span class="glyphicon glyphicon-arrow-down"></span>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="col-md-1">
                                        <button class="btn-xs btn-danger form-control; noWrap" title="Delete Food Item" ng-click="deleteFoodItemClicked(food);">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" ng-show="model.todaysNutrientTotals.length > 0">
                        <h4>Nutrient Details:</h4>
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-3">Nutrient</th>
                                    <th class="col-md-3">Total for today</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="nutrient in model.todaysNutrientTotals">
                                    <td class="col-md-3">{{nutrient.Name}}</td>
                                    <td class="col-md-3">{{nutrient.Value}} {{nutrient.Unit}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Add Foods:</h4>
                            </div>
                            <form ng-submit="searchButtonClicked();">
                                <div class="col-md-5">
                                    <input class="input-sm" type="text"
                                           name="Food Search"
                                           ng-model="model.searchText" />
                                </div>

                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-default" ng-disabled="!model.searchText">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                </div>
                            </form>
                            <div class="col-md-3">
                                <button class="btn btn-default btn-warning" ng-click="clearSearchButtonClicked();">
                                    <span class="glyphicon glyphicon-minus-sign"></span> Clear Search
                                </button>
                            </div>

                        </div>
                        <div class="row" ng-show="model.searchList.length > 0">
                            <!-- Pagination -->
                            <div class="col-md-5">
                                <div class="pull-left">
                                    <span class="recordCountSpan" style="margin-right: 0px;" ng-bind="model.recordStart + 1"></span>
                                    <b>-</b>
                                    <span class="recordCountSpan" style="margin-left: 0px;" ng-bind="model.recordEnd + 1"></span>
                                    of <span class="recordCountSpan" style="margin-right: 10px;" ng-bind="model.searchList.length"></span>
                                </div>
                                <div class="btn-group pull-left" style="margin-bottom: 5px;" ng-show="model.searchList.length > 0">
                                    <button class="btn btn-primary" ng-click="onPrevResultsClick()" title="Previous Results" ng-disabled="model.recordStart == 0">
                                        <span class="glyphicon glyphicon-arrow-left"></span>
                                    </button>
                                    <button class="btn btn-primary" ng-click="onNextResultsClick()" title="Next Results" ng-disabled="model.recordEnd == model.searchList.length - 1">
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="model.searchList.length > 0">
                            <div class="list-group col-md-10">
                                <button type="button" style="width: 100%;" class="list-group-item"
                                        title="Click for Details"
                                        ng-repeat="foodItem in model.searchList.slice(model.recordStart, model.recordEnd + 1)"
                                        ng-click="foodItemClicked(foodItem);">
                                    {{foodItem.Name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
